.navbar>* {
    text-align: center;
    color: white;
    font-size: 30px;
    text-decoration: none;

}

.navbar {
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 20px;
}

.btn {
    height: 50px;
    font-size: 18px;
    background-color: #04aa6d;
    color: #ffffff;
    border-color: #04aa6d;
}

.about {
    background-color: rgb(217, 238, 225);
}

